[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyls-isort = "*"
pyls-mypy = "*"
pyls-black = "*"
python-language-server = "*"
pylint = "*"
ipython = "*"
pytest = "*"

[packages]
flask = "*"
walrus = "*"
flask-wtf = "*"
wtforms = "*"

[requires]
python_version = "3.8"
